@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --purple500: #4d009d;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600: #dc0000;
    --body: #f9f6ff;
    --max-width: 120rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}  
html,body{
    font-family:"Roboto", sans-serif;
    font-weight: 300;
    font-size: 62.5%;
    line-height: 1.4;
    scroll-behavior:smooth;
}
section{
    scroll-margin: 5rem;
}
p{
    font-size: 1.6rem;
}
.container {
    max-width: 120rem;
    margin:0 auto;
}
header{
    background-color: var(--purple300);
    position: sticky;
    
    width: 126.3rem;
    top: 0rem;
    z-index: 100;
    box-shadow: -.1rem .5rem 2rem rgba(0, 0, 0, 0.5);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    color: white;
}
p,.footer-upper ul{
    font-weight: 300;
}

button{
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    border: none;        
}
button:hover{
    text-decoration: underline;
    transition: 0.2s ease-in-out;
    opacity: 0.95;
    cursor: pointer;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap:2rem;
    list-style: none; 
    font-size: 1.6rem;
    font-weight: 300;
}
nav a{
    text-decoration: none;
    color:white;
}
nav ul li{
    border-bottom: .1rem solid transparent;
}
nav ul li:hover{
    border-bottom: .1rem solid white;
}
.logo{
    /* color: white; */
    font-size: 3.2rem;
    font-weight: 600;
}
.overview-section{
    background: url("images/music.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height:60rem;
    
    width: 126.3rem;
    /* display:grid;
    place-items: center; */
    display: flex;
    align-items: center;
    text-align: center;
}
.overview-section .container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.overview-section h1{
    font-size: 9.6rem;
}
.overview-section h3{
    font-size: 3.2rem;
}
.music-section{
    background-color: var(--purple600);
    color:white;
    padding-top: 5rem;
    
    width: 126.3rem;
    /* height: 100vh; */
    /* height: 100vh; */
    /* display:flex; */
}
.about-music h3{
    font-size: 2rem;
}
.music-section .container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.music-section .container h2{
    font-size: 2.2rem;
} 
.iphone-ipad-img{
    margin-top: -40rem;
    position: relative;
    top: 40rem;
}
.primary-btn{
    background-color: var(--red600);
    color: white;
}
.secondary-btn{
    background-color: var(--purple600);
    color: white; 
}
.about-music{
    padding-top: 50rem;
    display: grid;
    place-items: center;
    gap: 5rem;
    text-align: center;
}
.video-section{
    background: url("images/video.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 60rem;
    
    width: 126.3rem;
    display:grid;
    place-items: center;
    text-align:center;
}
.video-section .container{
    display:flex;
    flex-direction: column;
    align-content:center;
    justify-content: center;
    gap: 3rem;
    margin-top: -20rem;
}
.video-section .container h3{
    font-size: 2.5rem;
}
.gift-card-section{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: 122rem;
    margin:10rem 4rem;
    gap: 5rem;
    scroll-margin: 18rem;
}
.gift-card-section h3{
    font-size: 2rem;
}
.gift-card-content{
    display:flex;
    padding-right: 2rem;
    flex-direction: column;
    gap:2rem;
}

.footer-upper{
    background-color: 
    var(--purple600);
    width: 126.3rem;
    font-size: 1.6rem;
    padding: 2rem 0;
}
.footer-upper .container{
    display: flex;
    color:white;
    justify-content:space-between;
}
.footer-upper h4{
    border-bottom: .2rem solid white;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.footer-upper ul li{
    list-style: none;
}
.footer-lower{
    
    width: 126.3rem;
    background-color: var(--purple300);
    display:flex;
    justify-content: center;
    color: white;
    padding:1rem;
}
